---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Astro">
  <main>
    <body>
      <a href="/">ホーム</a>
      <a href="/about/">概要</a>
	  <a href="/blog/">ブログ</a>

     <h1>Astro Blog</h1>
    </body>
  </main>
</Layout>

<style>
  main {
  }
</style>
