---
import Link from "../components/Link.astro";
const primary= "rgb(140, 0, 255)";
---

<header class="header">
  <div class="header__inner">
    <h1>Astro Blog</h1>
    <Link />
  </div>
</header>

<style lang="scss"  define:vars={{primary}}>
  .header {
    padding: 0 20px;
    &__inner {
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      h1 {
        font-size: 20px;
        color:var(--primary);
      }
      .link {
        margin-top: 0;
      }
    }
  }
</style>
