---

---

<ul class="link">
  <li><a href="/">HOME</a></li>
  <li><a href="/about/">ABOUT</a></li>
  <li><a href="/blog/">BLOG</a></li>
  <li><a href="/tags/">TAGS</a></li>
</ul>

<style lang="scss">
	.link {
    padding-left: 0;
    display: flex;
	margin: 0;
    li {
      list-style: none;
      a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        &:hover{
            opacity: 0.6;
        }
      }
      + li {
        margin-left: 20px;
      }
    }
  }
</style>